/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
  a {
    text-decoration: none;
  } a:hover {
    text-decoration: underline;
  }
  img {
    max-width: 100%;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 0;
    font-size: 36px;
    color:#333333;
  }
  /* end reset css */
  
  #root{
    
    width: 608px;
    max-width: 95%;
    margin: auto;
  }

